In [2]:
import pandas as pd

In [4]:
df = pd.read_excel("Life at Sea Itinerary.xlsx")

In [5]:
df

           Date  Day       Port Country  Arrive  Depart
0    2023-11-01  Wed   Istanbul  Turkey     NaN    16.0
1    2023-11-02  Thu        Sea     Sea     NaN     NaN
2    2023-11-03  Fri        Sea     Sea     NaN     NaN
3    2023-11-04  Sat        Sea     Sea     NaN     NaN
4    2023-11-05  Sun  Barcelona   Spain    12.0    20.0
...         ...  ...        ...     ...     ...     ...
1092 2026-10-28  Wed   Kusadasi  Turkey     8.0     NaN
1093 2026-10-29  Thu   Kusadasi  Turkey     NaN     NaN
1094 2026-10-30  Fri   Kusadasi  Turkey     NaN    18.0
1095 2026-10-31  Sat        Sea     Sea     NaN     NaN
1096 2026-11-01  Sun   Istanbul  Turkey     8.0     NaN

[1097 rows x 6 columns]

In [6]:
df.to_csv('life_at_sea.csv', index=False)

In [11]:
!head -1 life_at_sea.csv

Date,Day,Port,Country,Arrive,Depart

In [10]:
!head -40 life_at_sea.csv | tail -14

2023-11-26,Sun,Goergetown,Guyana,8.0,17.0
2023-11-27,Mon,Paramaribo,Suriname,8.0,18.0
2023-11-28,Tues,Sea,Sea,,
2023-11-29,Wed,Sea,Sea,,
2023-11-30,Thu,Macapa,Brazil,8.0,18.0
2023-12-01,Fri,Sea,Sea,,
2023-12-02,Sat,Sea,Sea,,
2023-12-03,Sun,Parantins,Brazil,8.0,17.0
2023-12-04,Mon,Sea,Sea,,
2023-12-05,Tues,Manaus,Brazil,8.0,17.0
2023-12-06,Wed,Sea,Sea,,
2023-12-07,Thu,Sea,Sea,,
2023-12-08,Fri,Sea,Sea,,
2023-12-09,Sat,Belem,Brazil,8.0,18.0